* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

body {
    /* background-color: aqua; */
}
.is-first{
    background-color: #007000;
}
.is-fourth{
    color: #ffbf00;
}
.is-third{
    color: #007000;
}
.is-new{
    background-color: #ffbf00;
}
.is-secondary{
    background-color: #484041;
}

#landing{
    /* position: fixed; */
    transition: 0.7s ease-in-out;
}

#second, #third, #fourth, #fifth, #searchByCodeContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(100%);
    transition: 0.7s ease-in-out;
}

#fourth{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 100vw;
}

.is-ancestor{
    display: flex;
    flex-wrap: wrap;
}

#title{
    color: white;

}

.title {
    color: white;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-child:hover, .is-child:focus{
    box-shadow: 5px 5px 5px rgba(38, 35, 35, 0.519);
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    position: relative
}

#loader{
    stroke-opacity: 1;
    width: 30%;
    animation: move-around 5s infinite;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}



@keyframes move-around {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(720deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

