* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

body {
    background-color: aqua;
}





#landing{
    /* position: fixed; */
    transition: 0.7s ease-in-out;
}

#second, #third, #fourth{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(100%);
    transition: 0.7s ease-in-out;
}

#fourth{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 100vw;
}

.is-ancestor{
    display: flex;
    flex-wrap: wrap;
}

#title{
    color: white;

}

.title {
    color: white;
}