* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}


.is-first{
    background-color: #007000;
}
.is-fourth{
    color: #ffbf00;
}
.is-third{
    color: #007000;
}
.is-new{
    background-color: #ffbf00;
}
.is-secondary{
    background-color: #484041;
}

#landing{
    transition: 0.7s ease-in-out;
}

#second, #third, #fourth, #fifth, #searchByCodeContainer, #fourthByCode{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(100%);
    transition: 0.7s ease-in-out;
}

#infoSection{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(-100%);
    transition: 0.7s ease-in-out;
}


.hero{
    width: 100vw;
}

.is-ancestor{
    display: flex;
    flex-wrap: wrap;
}

#title{
    color: white;
    /* background-color: #007000db; */

}

.title {
    color: white;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-child:hover, .is-child:focus{
    -webkit-box-shadow:inset 0px 0px 0px 10px #007000;
    -moz-box-shadow:inset 0px 0px 0px 10px #007000;
    box-shadow:inset 0px 0px 0px 10px #007000;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    position: relative
}

#loader{
    stroke-opacity: 1;
    width: 30%;
    animation: move-around 5s infinite;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}



@keyframes move-around {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(720deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.byCodeInfo{
    font-size: 1rem;
}

.byCodeList{
    margin-top: 1rem;
    font-size: 1.5rem;
    /* margin-left: 2rem; */
}

.byCodeNotes{
    margin-top: 1rem;
    font-size: 0.8rem;
}

section{
    max-height: 100vh;
    overflow: auto;
}

.hero-body{
    max-width: 1000px;
    margin: 0 auto;
}

.tile{
    width: 100%;
}

#infoButton{
    width: 2rem;
}

#infoIcon{
    color: #ffbf00;
}

#infoIcon:hover{
    color: #484041;
}

.info-hero{
    max-width: 800px;
    line-height: 1.7rem;
}

.info-hero ol{
    margin-left: 4rem;
}

#date-save{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #ffbf00;
    color: #484041;
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid #007000db;
}



form{
    margin-top: -5rem;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dateStuff{
    margin: 0.5rem;
}

article{
    display: flex;
}

.is-grouped{
    margin-top: -0.75rem;
    height: 20rem;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}

.is-grouped .control{
    margin-top: 1rem;
}

.control{
    width: 100%;
    flex-wrap: wrap;
    display: block;
    justify-content: space-between;
    /* border: 1px solid red; */
}

button{
    margin: 0.25rem;
}

#landing{
    background-image: url(/assets/blob.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 50%;
}

@media screen and (max-width: 800px) {
    #landing{
        background-size: 240%;
    }
    
}
@media screen and (min-width: 1200px) {
    #landing{
        background-size: 90%;
    }
    
}

#modalBtn{
    position:absolute;
    right: 35%;
    top: 35%
}

#modalCard{
    display: flex;
    overflow: hidden;
    height: 10rem;
    justify-content: center;
    align-items: center;
    color: #007000;
}

#modalText{
    font-size: 2rem;
    font-weight: bold;
}